*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

/vendor/
/node_modules/

.env
.env.local
.env.*.local

.idea/
.vscode/

backups/
laravel/
Dockerfile.laravel-web
laravel_app.tar.gz
laravel_srv.tar.gz
laravel11_srv.tar.gz